services:
  fayvad_mail:
    build: .
    container_name: fayvad_mail_web
    network_mode: host
    env_file:
      - .env
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
      - media:/app/media
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-dev-key-change-in-production
      - USE_MODOBOA_DB=true
      - FAYVAD_MAIL_DB_NAME=fayvad_mail_db
      - FAYVAD_MAIL_DB_USER=fayvad
      - FAYVAD_MAIL_DB_PASSWORD=MeMiMo@0207
      - FAYVAD_MAIL_DB_HOST=localhost
      - FAYVAD_MAIL_DB_PORT=5432
      - MODOBOA_API_URL=http://localhost:8000/fayvad_api
      - NAMECHEAP_API_USER=${NAMECHEAP_API_USER}
      - NAMECHEAP_API_KEY=${NAMECHEAP_API_KEY}
      - NAMECHEAP_CLIENT_IP=${NAMECHEAP_CLIENT_IP}
      - NAMECHEAP_API_SANDBOX=${NAMECHEAP_API_SANDBOX:-False}
    command: python manage.py runserver 0.0.0.0:8005

volumes:
  staticfiles:
  media:

networks:
  fayvad_mail_net:

# Deployment helper script
# Run this after 'docker compose up' to deploy static files:
# ./deploy-static.sh
